*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* ----------General-------------- */
:root{
 --color-blue:hsl(229, 23%, 23%);
 --color-gray:rgb(106, 111, 129);
 --color-gray-hr:rgba(106, 111, 129, .5);
}

h1,
p{
    color: var(--color-blue);
}

span,
hr{
    color: var(--color-gray);
}

.section-2 h1{
    font-size: 18px;
    font-weight: 700;
}
footer p{
    font-size: 18px;
    font-weight: 800;
}

footer span{
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
}

hr{
    width: 100%;
    font-size: 1px;
    color: var(--color-gray-hr);
    opacity: .4;
}
.txt-small{
    color: var(--color-gray-hr);
    font-weight: 400;
}

/*-------------------------------*/

body{
    background:hsl(185, 75%, 39%) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Kumbh Sans";
    background-image: url("bg-pattern-top.svg"), url("bg-pattern-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: right 52vw bottom 35vh, left 57vw top 43vh;
}


main{
    background-image: url("bg-pattern-card.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    max-width: 440px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 1px 1px 9px 1px #000;
}

section{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-width: 25rem;
    margin: 0 20px;
}

.bk-img img{
    border: 6px solid white;
    border-radius: 50%;
    margin-top: 8em;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 25px 20px;
}

.stats{
    display: flex;
    flex-direction: column;
    gap: 6px;
}